name: CI
on:
  push:
    tags: '*'
    branches-ignore:
      - 'autodelivery**'
      - 'bump-**'
      - 'renovate/**'
    paths-ignore:
      - 'CHANGELOG.md'
      - 'renovate.json'
      - '.gitignore'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ windows, macos, ubuntu ]
    runs-on: ${{ matrix.os }}-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: danysk/action-checkout@0.2.1
      - uses: DanySK/build-check-deploy-gradle-action@1.2.14
        with:
          deploy-command: |
            ./gradlew closeJavaMavenOnMavenCentralNexus --parallel
          should-run-codecov: ${{ contains('Linux', runner.os) }}
          should-deploy: >-
            ${{
              contains('Linux', runner.os)
              && contains(github.repository, 'DanySK/java-quadtree')
              && contains('push workflow_dispatch', github.event_name)
            }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          signing-key: ${{ secrets.SIGNING_KEY }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
  Release:
    needs:
      - build
    runs-on: ubuntu-latest
    if: >-
      contains('push workflow_dispatch', github.event_name)
      && contains(github.repository, 'DanySK/java-quadtree')
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - uses: DanySK/build-check-deploy-gradle-action@1.2.14
        with:
          build-command: true
          check-command: true
          deploy-command: |
            npm install
            npx semantic-release
          should-run-codecov: false
          should-deploy: true
          should-validate-wrapper: false
          github-token: ${{ secrets.GITHUB_TOKEN }}
          maven-central-password: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          signing-key: ${{ secrets.SIGNING_KEY }}
          signing-password: ${{ secrets.SIGNING_PASSWORD }}
